.form {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto
}

.address {
    display: flex;
    flex-direction: column;
    color: rgb(203, 234, 200);
}

label {
    color: rgb(203, 234, 200)
}